@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  /* Cores do tema */
  --white:           #ffffff;
  --primary:         #4b64dc;
  --primaryDark:     #25377d;
  --primaryLight:    #748ee6;
  --secondary:       #E8EAEE;
  --secondaryDark:   #C2C6D0;
  --secondaryLight:  #F2F3F5;

  --menuColorPrimary: #333333;
  --menuColorPrimaryDark: #1f1f1f;
  --menuColorPrimaryLight: #4d4d4d;

  
}